@font-face { font-family: 'Source Sans Pro'; src: url('../fonts/SourceSansPro-Regular.ttf'); }
@font-face { font-family: 'Aref Ruqaa'; src: url('../fonts/ArefRuqaa-Bold.ttf'); }
@font-face { font-family: 'Allura'; src: url('../fonts/Allura-Regular.ttf'); }
